.container{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    background-color: aqua;
    border-radius: 40px 0px 40px 0px;
}
h1{
    text-align: center;
    text-shadow: 0 0 5px;
}
.first-line{
    display: flex;
    justify-content: space-evenly;
}
.none{}
.child1{
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 50px 0px 0px 0px;
    margin-top: 20px;
}
.child2{
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 0px 50px 0px 0px;
    margin-top: 20px;
}
.child3{
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 0px 0px 50px 0px;
    margin-top: 20px;
}
.child4{
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 50px 0px 0px 0px;
    margin-top: 20px;
}


/* 2nd */


.second-line{
    display: flex;
    justify-content: space-evenly;
}
.child5{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}
.child6{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}
.child7{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 30px 30px 30px 30px;
    margin-top: 20px;
}
.child8{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50px 50px 50px 50px;
    margin-top: 20px;
}


/*3rd*/

.theerd-line{
    display: flex;
    justify-content: space-evenly;
}
.child9{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}
.child10{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
}
.child11{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 40px 40px 40px 40px;
    margin-top: 20px;
}
.child12{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 50px 50px 50px 50px;
    margin-top: 20px;
}


/*4rd*/

.fourth-line{
    display: flex;
    justify-content: space-evenly;
}
.child13{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 20px 0px 20px 0px;
    margin-top: 20px;
}
.child14{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 40px 0px 40px 0px;
    margin-top: 20px;
}
.child15{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 70px 0px 70px 0px;
    margin-top: 20px;
}
.child16{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 100px 0px 100px 0px;
    margin-top: 20px;
}

/*Email*/

.container-email{
    width: 750px;
    height: 700px;

    margin: 0 auto;
}.box{
    width: 350px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}
.icoon{
    font-size: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.inputts{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 250px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
    outline: none;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: white;
    font-size: 20px;
}
.cnterteg{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
a{
    text-decoration: none;
    color: aqua
}