.container {
    width: 600px;
    height: 850px;
    background-color: white;
    margin: 0 auto;
    background-image: url(./WallpaperGram.IR_1554935404_94807.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
}

.navbar {
    width: 600px;
    height: 40px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(245, 222, 179, 0.432);
    border-bottom: 1px solid rgba(245, 222, 179, 0.315);
    cursor: pointer;
}

.header {
    color: rgba(255, 255, 255, 0.756);
    text-align: center;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    width: 280px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0.234);
    color: rgba(255, 255, 255, 0.546);
    border: 1px solid rgb(62, 96, 217);
    margin-left: 40px;
    position: relative;
    bottom: 40px;
}

.cricel {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.246);
    border-radius: 50px;
    position: relative;
    left: 250px;
    border: 1px solid rgb(62, 96, 217);
}

.uchburchak {
    font-size: 50px;

}

.material-symbols-outlined {
    font-size: 100px;
    color: rgba(35, 78, 180, 0.641);
}

.page2 {
    background-color: white;
    width: 550px;
    margin: 0 auto;
    margin-top: 10px;
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.307);
}

button {
    background-color: rgb(45, 134, 237);
    width: 100px;
    height: 25px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px;
    background-color: blue;
    transform: scale(0.97);
}

.big-con {
    background-color: rgb(219, 133, 20);
    height: 1000px;
}

.footer {
    width: 600px;
    height: 50px;
    background-color: aqua;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generics {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.icoon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 30px;
    color: white;
}
.icoon:hover{
    color: gold;
}